{{ define "New" }}
<html>
<h2> ADD NEW PROFILE </h2>
{{ template "Toolbar"  }}
<form method="POST" action="../Insert">
    <table>
        <tbody>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" value=""/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" name="age" value=""/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" name="phone" value=""/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="address" value=""/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"/></td>
        </tr>

        </tbody>
    </table>
</form>

</html>
{{ end }}
